<footer class="main-grid mt-s7 footer">
      <div class="footer-about">
        <img src="/assets/logo.png">
        <img src="/assets/wbb.png">
        <p class="span-full footer-tagline">
          Home of the Champions.
        </p>
        <p class="span-full footer-social-links">
          <a href="https://twitter.com/westblockblues">
            <img src="/assets/twitter.svg">
          </a>
          <a href="https://instagram.com/westblockblues">
            <img src="/assets/insta.svg">
          </a>
          <a href="https://www.facebook.com/WestBlockBlues/">
            <img src="/assets/fb.svg">
          </a>
          <a href="https://t.me/joinchat/AAAAAFMkcun8cSmHwxuAYQ">
            <img src="/assets/telegram.svg">
          </a>
          
        </p>
      </div>
      <div class="footer-links">
        <h3><a href="/">Home</a></h3>
        <a href="/news.html" title="">News</a>
        <a href="/media.html" title="">Media</a>
        <a href="/about.html" title="">About Us</a>
        <a href="/team.html" title="">Team</a>
        <a href="https://soundcloud.com/westblockblues" title="">Podcast</a>
        <a href="/merchandise.html" title="">Merchandise</a>
      </div>
      <div class="footer-links">
        <h3>Contact</h3>
        <p>
          Us, in the stands, do our best every single time to push them to limits they knew not existed to help them make their dreams a reality.
        </p>
        <a class="w600" href="mailto:master@westblockblues.com" title="Mail Us">master@westblockblues.com</a>
        
      </div>
      <!--
      <div class="footer-links">
        <h3>Questions, Enquiries and feedback. We would love to hear from you</h3>
      </div>
      -->
    </footer>
