<!doctype html>
<html>
<head>
  {% include 'common_head.html' %}
</head>
<body>
  {% include 'nav.html' %}
  <main>
    <div class="main-grid">
      <section class="hero mb-s5_5">
        <img class="hero-backdrop" src="/assets/hero.png"/>
        <div class="hero-content">
          <div class="hero-content-main">
            <img src="/assets/214.png" class="hero-star" />
            <h1 class="hero-h1">
              Welcome to the home of <br>
              <span class="x6">Champions</span>
            </h1>
          </div>
          <div class="hero-fixture">
            <div class="hero-fixture-teams">
              <img src="/media/team-{{upcoming_fixture['team1']}}.png">
              <img src="/media/team-{{upcoming_fixture['team2']}}.png">
              <p>
                <span>{{teams[upcoming_fixture['team1']]}}</span><br>
                <span>{{teams[upcoming_fixture['team2']]}}</span>
              </p>
            </div>
            <div class="hero-fixture-venue">
              <img src="/assets/stadium.png">
              <p>
                <span>{{venues[upcoming_fixture['venue']][0]}}</span><br>
                <span>{{venues[upcoming_fixture['venue']][1]}}</span>
              </p>
            </div>
            <p>
              <span>{{upcoming_fixture['time']}}</span><br>
              <span>{{upcoming_fixture['date']}}</span>    
            </p>
            <p>
              <a href="/fixtures.html" class="hero-fixtures-link">
                <span>View Fixtures & Results</span>
                <img src="/assets/c-right.svg"/>
              </a>
            </p>
          </div>
        </div>
      </section>
      
      <a href="/news/{{highlight_article['link']}}" class="post-highlight">
        <div class="post-highlight-img-container">
          <img class="post-highlight-img" src="{{highlight_article['cover']}}">
        </div>
        <div class="post-highlight-content">
          <div class="c2-auto mb-s4">
            <span class="fg-a1 w500 x0">{{highlight_article["category"]}}</span>
            <span class="fg-m2 w500 x0">{{highlight_article["date"]}}</span>
          </div>
          <h3 class="post-highlight-title">
            {{highlight_article["title"][:60]}}
            {% if highlight_article["title"]|length > 60 %}...{% endif %}
          </h3>
        </div>
      </a>
      {% for article in featured_articles %}
      <a href="/news/{{article['link']}}" class="post-feature">
        <img class="post-feature-img" src="{{article['cover']}}">
        <div class="c2-auto">
          <span class="fg-a1 w500 x0">{{article["category"]}}</span>
          <span class="x0 fg-m2 w500">{{article["date"]}}</span>
        </div>
        <h3 class="post-feature-title">
          {{article["title"][:60]}}
          {% if article["title"]|length > 60 %}...{% endif %}
        </h3>
      </a>
      {% endfor %}
          
      <a href="/" class="shop-link mt-s6">
        <img src="/assets/shop.png">
      </a>
    </div>
          
    <!--    
    <div class="main-grid">
      <div class="span-full c2-space-bw mt-s6">
        <h2>Latest News</h2>
        <a href="/" class="see-all-link">
          <span>View All</span>
          <img src="/assets/c-right-b.svg"/>
        </a>
      </div>
      <a href="/" class="post-feature">
        <img class="post-feature-img" src="/assets/q1.png">
        <div class="c2-auto">
          <span class="fg-a1 w500 x0">News</span>
          <span class="x0 fg-m2 w500">September 26</span>
        </div>
        <h3 class="post-feature-title">
          Best solo goals in Premier League history
        </h3>
      </a>
      <a href="/" class="post-feature">
        <img class="post-feature-img" src="/assets/q2.png">
        <div class="c2-auto">
          <span class="fg-a1 w500 x0">News</span>
          <span class="x0 fg-m2 w500">September 26</span>
        </div>
        <h3 class="post-feature-title">
          Best solo goals in Premier League history
        </h3>
      </a>
      <a href="/" class="post-feature">
        <img class="post-feature-img" src="/assets/q3.png">
        <div class="c2-auto">
          <span class="fg-a1 w500 x0">News</span>
          <span class="x0 fg-m2 w500">September 26</span>
        </div>
        <h3 class="post-feature-title">
          Best solo goals in Premier League history
        </h3>
      </a>
      <a href="/" class="post-feature">
        <img class="post-feature-img" src="/assets/q4.png">
        <div class="c2-auto">
          <span class="fg-a1 w500 x0">News</span>
          <span class="x0 fg-m2 w500">September 26</span>
        </div>
        <h3 class="post-feature-title">
          Best solo goals in Premier League history
        </h3>
      </a>
    </div>
    -->
        
    <div class="main-grid bg-l2 mt-s5 pb-s5">
      <div class="span-full c2-space-bw mt-s5">
        <h2>Videos</h2>
        <a href="/all-videos.html" class="see-all-link">
          <span>See all videos</span>
          <img src="/assets/c-right-b.svg"/>
        </a>
      </div>
      {% for video in featured_videos %}
      <a href="/" class="post-feature-video">
        <iframe class="post-feature-video-iframe" allow="fullscreen;"
          src="https://www.youtube.com/embed/{{video['id']}}">
        </iframe>
        <div class="c2-auto">
          <span class="fg-a1 w500 x0">{{video['category']}}</span>
          <span class="x0 fg-m2 w500">{{video['date']}}</span>
        </div>
        <h3 class="post-feature-title">
          {{video['title']}}
        </h3>
      </a>
      {% endfor %}
    </div>
    
    <!--     
    <div class="main-grid pb-s5">
      <div class="span-full c2-space-bw mt-s5">
        <h2>Photos</h2>
        <a href="/" class="see-all-link">
          <span>See all photos</span>
          <img src="/assets/c-right-b.svg"/>
        </a>
      </div>
      <a href="/" class="post-feature">
        <img class="post-feature-img" src="/assets/post1.jpg">
        <h3 class="post-feature-title">
          Eddies 0.3 / 2020
        </h3>
      </a>
      <a href="/" class="post-feature">
        <img class="post-feature-img" src="/assets/post1.jpg">
        <h3 class="post-feature-title">
          Screening / BFC vs ATK
        </h3>
      </a>
      <a href="/" class="post-feature">
        <img class="post-feature-img" src="/assets/post1.jpg">
        <h3 class="post-feature-title">
          Screening / GOA vs BFC
        </h3>
      </a>
      <a href="/" class="post-feature">
        <img class="post-feature-img" src="/assets/post1.jpg">
        <h3 class="post-feature-title">
          Screening / GOA vs BFC
        </h3>
      </a>
    </div>
    -->
        
    <div class="main-grid podcast-div mt-s5">
      <img src="/assets/podcast.png" class="podcast-img">
      <div class="podcast-overlay"></div>
      <div class="podcast-div-content-grid">
        <div>
          <h2 class="podcast-h2">
            Keep connected with us<br>
            throughout the season
          </h2>
          <a href="https://soundcloud.com/westblockblues" class="podcast-link">
            <span>Listen to podcast</span>
            <img src="/assets/c-right.svg"/>
          </a>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </main>
</body>
</html>
