<nav class="main-nav">
  <input type="checkbox" class="main-nav-checkbox" id="main-nav-checkbox">
  <div class="main-nav-div n1">
    <a class="main-nav-link" href="/news.html" title="">News</a>
    <a class="main-nav-link" href="/results.html" title="">Results</a>
    <a class="main-nav-link" href="/about.html" title="">About Us</a>
  </div>  
  <a class="main-nav-logo-link" href="/" title="">
    <img class="main-nav-logo" src="/assets/logo.png">
  </a>
  <label class="menu-icon-container" for="main-nav-checkbox">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
      class="menu-icon feather feather-menu">
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
      class="menu-icon feather feather-x">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </label>  
  <div class="main-nav-div n2">
    <a class="main-nav-link" href="/team.html" title="">Team</a>
    <a class="main-nav-link" href="https://soundcloud.com/westblockblues" title="">Podcast</a>
    <a class="main-nav-link" href="/all-videos.html" title="">Videos</a>
  </div>  
</nav>
