<!doctype html>
<html>
<head>
  {% include 'common_head.html' %}
</head>
<body>
  {% include 'nav.html' %}
  <main>
    <div class="main-grid">
      <section class="page-hero mb-s6">
        <img class="page-header-backdrop" src="/assets/header_bg.png"/>
        <h1 class="page-h1">
          First Team
        </h1>
      </section>
    </div>
       
    <div class="main-grid teams-page-section">
      <div class="span-full c2-space-bw">
        <h2 class="teams-page-subtitle">Goalkeepers</h2>
      </div>
      
      {% for n in goalkeepers %}
      <img src="/media/p{{n}}.png" class="team-player-img">
      {% endfor %}
    </div>
    
    <div class="main-grid bg-l2 teams-page-section">
      <div class="span-full c2-space-bw">
        <h2 class="teams-page-subtitle">Defenders</h2>
      </div>
      
      {% for n in defenders %}
      <img src="/media/p{{n}}.png" class="team-player-img">
      {% endfor %}
     
    </div>
    
    <div class="main-grid teams-page-section">
      <div class="span-full c2-space-bw">
        <h2 class="teams-page-subtitle">Midfielders</h2>
      </div>
      
      {% for n in midfielders %}
      <img src="/media/p{{n}}.png" class="team-player-img">
      {% endfor %}
    </div>
       
      
    <div class="main-grid bg-l2 teams-page-section mb-s6">
      <div class="span-full c2-space-bw">
        <h2 class="teams-page-subtitle">Forwards</h2>
      </div>
      
      {% for n in forwards %}
      <img src="/media/p{{n}}.png" class="team-player-img">
      {% endfor %}
    </div>
    
        
    
    {% include 'footer.html' %}
  </main>
</body>
</html>
